.btn-trash {
  color: orangered;
  font-size: 16px;
}

.btn-plus:hover,
.btn-trash:hover {
  opacity: 0.5;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.main__content {
  flex: 7;
}

.main__content h1 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 30px;
}

.main__content p {
  line-height: 25px;
}

.todo-item {
  list-style-type: none;
  padding: 17px 1.5rem;
  border-bottom: 1px solid #eaeaea;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  width: 364px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.todo-item:hover {
  opacity: 0.85;
  background-color: #eaeaea;
}

.todo-item-option {
  float: right;
}

.todo-item-option button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
